---
import App from "@/layouts/App.astro"
import { auth } from "@/utils/auth"

const login = await auth(Astro)
if (login.redirect) {
    return login.redirect
}
---

<App>
    <h1>Hello Astro</h1>
</App>
