---
import LoginForm from "@/components/LoginForm"
import Centered from "@/layouts/Centered.astro"

export const prerender = true
---

<Centered>
    <h1>Entre na sua conta</h1>

    <LoginForm client:load />
</Centered>
