---
import MenuForm from "@/components/menus"
import App from "@/layouts/App.astro"
import { auth } from "@/utils/auth"

const login = await auth(Astro)
if (login.redirect) {
    return login.redirect
}
---

<App>
    <hgroup>
        <h1>Novo cardápio</h1>
        <h2>Adicione um novo cardápio</h2>
    </hgroup>

    <MenuForm client:load menu={null} />
</App>
